body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.construction-gif {
  width: auto;
  height: 40em;
}
